<!--Cabecera-->
<header class="header">
  <div class="logo">
    <img src="../../assets/LogoCasino.png" alt="Logo del Casino" />
  </div>
  <nav class="nav-links">
    <a routerLink="">Inicio</a>
    <a routerLink="/Registro">Registrate</a>
    <a routerLink="/Contacto">Contacto</a>
  </nav>
</header>
<!--Fin Cabecera-->
<!--Contenedor-->
<div class="container">
  <div class="aviso-container">
    <h2 style="text-align: center">Aviso Legal</h2>

    <h3>1. Uso del Sitio Web</h3>
    <p>
      El acceso y uso de este sitio web implica la aceptación plena y sin
      reservas de las condiciones de uso, políticas de privacidad y avisos
      legales contenidos en este documento.
    </p>

    <h3>2. Responsabilidad</h3>
    <p>
      El propietario de este sitio web no se hace responsable de los daños o
      perjuicios derivados del uso indebido o no autorizado de este sitio web,
      ni de la fiabilidad de la información contenida en el mismo.
    </p>

    <h3>3. Propiedad Intelectual</h3>
    <p>
      Todo el contenido de este sitio web, incluidos textos, imágenes, gráficos,
      logotipos y códigos fuente, está protegido por derechos de propiedad
      intelectual. Queda prohibida la reproducción total o parcial de cualquier
      contenido sin el consentimiento expreso del titular de los derechos de
      autor.
    </p>

    <h3>4. Uso de Datos Personales</h3>
    <p>
      Este sitio web no recopila, almacena ni utiliza datos personales de los
      usuarios con fines comerciales. Los datos que puedan ser proporcionados en
      el formulario de contacto serán tratados con la máxima confidencialidad y
      únicamente para fines relacionados con el proyecto educativo.
    </p>

    <h3>5. Exclusión de Responsabilidad</h3>
    <p>
      El propietario del sitio web no garantiza la disponibilidad continua del
      servicio, ni se hace responsable de los posibles errores o interrupciones
      en el acceso o funcionamiento del sitio. Asimismo, no se responsabiliza de
      los daños directos o indirectos que pudieran derivarse del uso del sitio
      web.
    </p>

    <h3>6. Modificaciones del Aviso Legal</h3>
    <p>
      El propietario del sitio web se reserva el derecho a modificar este aviso
      legal en cualquier momento. Las modificaciones entrarán en vigor desde el
      momento de su publicación en este sitio web.
    </p>

    <p>Fecha de última actualización: <strong>15/12/2024</strong>.</p>
  </div>
</div>
<!--Fin contenedor-->
<!--Footer-->
<footer class="footer">
  <div class="footer-logo">
    <img src="../../assets/LogoCasino.png" alt="Logo del Casino" />
  </div>
  <div class="footer-links">
    <a routerLink="/AvisoLegal">Aviso Legal</a>
    <a routerLink="/PoliticaPrivacidad">Política de Privacidad</a>
    <a routerLink="/TerminosCondiciones">Términos y Condiciones</a>
  </div>
</footer>
<!--Fin Footer-->
