<!--Cabecera-->
<header class="header">
  <div class="logo">
    <img src="../../assets/LogoCasino.png" alt="Logo del Casino" />
  </div>
  <nav class="nav-links">
    <a routerLink="">Inicio</a>
    <a routerLink="/Contacto">Contacto</a>
  </nav>
</header>
<!--Fin Cabecera-->

<!--contenedor-->
<div class="eleccion-container">
  <a routerLink="/Tragaperras">Tragaperras</a>
  <a routerLink="/Ruleta">Ruleta</a>
</div>
<!--Fin contenedor-->

<!--Footer-->
<footer class="footer">
  <div class="footer-logo">
    <img src="../../assets/LogoCasino.png" alt="Logo del Casino" />
  </div>
  <div class="footer-links">
    <a routerLink="/AvisoLegal">Aviso Legal</a>
    <a routerLink="/PoliticaPrivacidad">Política de Privacidad</a>
    <a routerLink="/TerminosCondiciones">Términos y Condiciones</a>
  </div>
</footer>
<!--Fin Footer-->
