<!-- Overlay para bloquear la interacción -->
<div *ngIf="showCookieBanner" class="cookie-overlay"></div>

<!-- Banner de Cookies -->
<div class="cookie-banner" *ngIf="showCookieBanner">
  <div class="cookie-content">
    <p>Usamos cookies para mejorar tu experiencia en el sitio. Al aceptar, consientes el uso de cookies según nuestra <a routerLink="/PoliticaPrivacidad">Política de Privacidad</a>.</p>
    <div class="cookie-buttons">
      <button (click)="acceptCookies()">Aceptar</button>
      <button (click)="declineCookies()">Rechazar</button>
    </div>
  </div>
</div>
<!--Cabecera-->
<header class="header">
  <div class="logo">
    <img src="../../assets/LogoCasino.png" class="headerlogo" alt="Logo del Casino" />
  </div>
  <nav class="nav-links">
    <a routerLink="">Inicio</a>
    <a routerLink="/Eleccion">Juegos</a>
    <a routerLink="/Contacto">Contacto</a>
  </nav>
</header>
<!--Fin Cabecera-->
<!--Contenedor-->
<div class="login-container">
  <form>
    <h2>Iniciar Sesión</h2>
    <div>
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Ingresa tu email"
        required
      />
    </div>
    <div>
      <label for="password">Contraseña:</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Ingresa tu contraseña"
        required
      />
    </div>
    <button type="submit">Iniciar sesión</button>
  </form>
</div>
<!--Fin Contenedor-->
<!--Footer-->
<footer class="footer">
  <div class="footer-logo">
    <img src="../../assets/LogoCasino.png" class="footerlogo" alt="Logo del Casino" />
  </div>
  <div class="footer-links">
    <a routerLink="/AvisoLegal">Aviso Legal</a>
    <a routerLink="/PoliticaPrivacidad">Política de Privacidad</a>
    <a routerLink="/TerminosCondiciones">Términos y Condiciones</a>
  </div>
</footer>
<!--Fin Footer-->
